<section  class="pb-5">
    <div class="container">
        <div style="margin: 1%;">
             <h1 class="section-title h1" style="text-align: center ; font:70px Marcellus ;font-weight: 500;color:rgb(144, 151, 57);">Environnement</h1>
            <h3 style="text-align: center ;font:20px Montserrat; font-weight: 100;color:rgb(58, 60, 19);">Au niveau de l’entreprise, le développement durable est souvent défini comme l’atteinte d’un triple bilan équilibré.</h3>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="box-panel" >
                    <div class="box-panel-body clearfix">
                        <div class="frontside">
                            <div class="card">
                                <img class="card-img-top" src="../../assets/images/securite.jpg" >
                                <div class="card-body">
                                  <h2 class="card-title" >Sécurité et sûreté</h2>
                                  <p class="card-text"  >
                                    Dans un environnement évolutif, la sécurité & la sûreté des personnes, des locaux et des biens est une préoccupation permanente.
                                   
                                    </p>
                                    <div class="card-footer"  >
                                    <span class="label label-primary" style="background-color:rgb(237, 237, 171);border-radius: 30px;margin: 2%;">3 jours</span>
                                    <span class="label label-primary" style="background-color:rgb(237, 237, 171);border-radius: 30px;margin: 2%;">Ref S02</span>
                                </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="box-panel" >
                    <div class="box-panel-body clearfix">
                        <div class="frontside">
                            <div class="card">
                                <img class="card-img-top" src="../../assets/images/securite.jpg" >
                                <div class="card-body">
                                  <h2 class="card-title" >Sécurité et sûreté</h2>
                                  <p class="card-text"  >
                                    Dans un environnement évolutif, la sécurité & la sûreté des personnes, des locaux et des biens est une préoccupation permanente.
                                   
                                    </p>
                                    <div class="card-footer"  >
                                    <span class="label label-primary" style="background-color:rgb(237, 237, 171);border-radius: 30px;margin: 2%;">3 jours</span>
                                    <span class="label label-primary" style="background-color:rgb(237, 237, 171);border-radius: 30px;margin: 2%;">Ref S02</span>
                                </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="box-panel" >
                    <div class="box-panel-body clearfix">
                        <div class="frontside">
                            <div class="card">
                                <img class="card-img-top" src="../../assets/images/securite.jpg" >
                                <div class="card-body">
                                  <h2 class="card-title" >Sécurité et sûreté</h2>
                                  <p class="card-text"  >
                                    Dans un environnement évolutif, la sécurité & la sûreté des personnes, des locaux et des biens est une préoccupation permanente.
                                   
                                    </p>
                                    <div class="card-footer"  >
                                    <span class="label label-primary" style="background-color:rgb(237, 237, 171);border-radius: 30px;margin: 2%;">3 jours</span>
                                    <span class="label label-primary" style="background-color:rgb(237, 237, 171);border-radius: 30px;margin: 2%;">Ref S02</span>
                                </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="box-panel" >
                    <div class="box-panel-body clearfix">
                        <div class="frontside">
                            <div class="card">
                                <img class="card-img-top" src="../../assets/images/securite.jpg" >
                                <div class="card-body">
                                  <h2 class="card-title" >Sécurité et sûreté</h2>
                                  <p class="card-text"  >
                                    Dans un environnement évolutif, la sécurité & la sûreté des personnes, des locaux et des biens est une préoccupation permanente.
                                   
                                    </p>
                                    <div class="card-footer"  >
                                    <span class="label label-primary" style="background-color:rgb(237, 237, 171);border-radius: 30px;margin: 2%;">3 jours</span>
                                    <span class="label label-primary" style="background-color:rgb(237, 237, 171);border-radius: 30px;margin: 2%;">Ref S02</span>
                                </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
</div>
</section>