
<div class="container-fluid col-md-12"  
        style="width:101% ;margin-top: 0pt;
        margin-left: 0pt;
        padding-top: 0pt;
        padding-left: 0pt;
        border-top: 0pt;
        border-left: 0pt"
                  >
    <footer class="text-center text-lg-start text-white"
            style="background-color: #3c3939c2; padding:4%">

      <div class="container-fluid">

        <section class="">

          <div class="row" style="padding-left:1% ; padding-right: 1%;padding-bottom: 1%;">
            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-4">
              <h6 class="text-uppercase mb-4 font-weight-bold" style="font-size:130% ;font-weight: 100%; ">
                About us
              </h6>
              <ul class="footer-nav list-inline">
                <li><a href="" style="color:white ;">Lean Partners</a></li>
                <li><a href="" style="color:white ;">Contact</a></li>
            </ul>
            </div>
        
            
     
            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-4">
              <h6 class="text-uppercase mb-4 font-weight-bold" style="font-size:130% ;font-weight: 100%; ">Follow us</h6>
           
                <a target="_blank" href="https://www.facebook.com/pages/Lean-Partners/632167410163810"><i class="fab fa-facebook-f  fa-2x" style="margin:3%; color:rgb(243, 243, 178);"></i></a>
                <a target="_blank" href="https://www.youtube.com/channel/UChpgfQqfjS3F7zhwz3BygDQ"><i class="fab fa-youtube fa-2x"style="margin:3% ;color:rgb(243, 243, 178);"></i></a>
                <a target="_blank" href="https://www.linkedin.com/company/lean-partners-tunisia"><i class="fab fa-linkedin-in fa-2x"style="margin:3% ;color:rgb(243, 243, 178);"></i></a>
       
            </div>
  
     
           
      
            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-4">
              <h6 class="text-uppercase mb-4 font-weight-bold" style="font-size:130% ;font-weight: 100%; ">Contact</h6>
              <p><i class="fa fa-home mr-3" style="margin: 2%;"></i>Avenue Habib Bourguiba Immeuble City center 
                <br> &nbsp; &nbsp;  &nbsp; &nbsp; Bourguiba, B.04.4, Nabeul 8000</p>
              <p><i class="fa fa-envelope mr-3" style="margin: 2%;"></i> info@leanpartners.tn</p>
              <p><i class="fa fa-phone mr-3" style="margin: 2%;"></i> +216 72.237.800</p>

            </div>
     
          </div>
      
        </section>
    
  
        <hr class="my-3">
  
      
        <section class="p-3 pt-0">
          <div class="row d-flex align-items-center">
     
            <div class="col-md-7 col-lg-8 text-center text-md-start">

              <div class="p-3">
                © 2020 Copyright:
                <a class="text-white" href="https://www.leanpartners.tn/"
                   >Lean Partners</a
                  >
              </div>
        
            </div>
         
          </div>
        </section>
     
      </div>
  
    </footer>
 
  </div>
