
<div class="container-fluid Contact" style="padding:100px;background: rgba(236, 226, 226, 0.53); ">
	<div class="row" style="width: 70%;margin-left: 16%;">
		<div class="col-md-3">
			<div class="contact-info" style="padding:5% ;padding-top: 20%;">
				<i class="fas fa-sign-in-alt fa-6x" style="color: white;"></i>
				<h1 style="font:40px Marcellus ;font-weight: 700;">Sign in</h1>
				<h4>To keep conected with us please login with your personal info</h4>
			</div>
		</div>
		<form #loginform="ngForm" (ngsubmit)="loginUser()"   class="col-md-9"  >
			<small class="danger">{{msg}}</small>
			
			
		    	<mat-form-field class="full-width" style="display: inline;" >
				<mat-label>Email</mat-label >
				<input required name="email" [(ngModel)]="user.emailId" matInput placeholder="Enter here" />
				
				</mat-form-field>

			

			    <mat-form-field class="full-width" style="display: inline;">
				<mat-label>User Password</mat-label>
				<input
				required
				type="password"
				name="password"
				[(ngModel)]="user.password"
				matInput
				placeholder="Enter here"/>
				</mat-form-field>

				<div class="form-group">        
				  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-outline" style="background-color:rgba(157, 157, 109, 0.725) ; 
                    color: black; margin-top: 10px;font-weight: 600;">Sign in</button>
					<p style="margin-top: 5%;">Need an account ? <a href="http://localhost:4200/create-account">Sign up</a></p>
				  </div>
				</div>
	   	</form>
		</div>
	</div>

  