
  <head>                      
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" 
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
     crossorigin="anonymous" referrerpolicy="no-referrer" />

  </head>   



<div class="container-fluid col-md-12">
<div class="row">
<div class="col-md-6" style="padding-top:4%;padding-left: 5%; padding-bottom: 4%;" >
<div>
<p style=" font:50px Marcellus ;font-weight: 400 ;color:rgb(144, 151, 57);">Le Cabinet</p>
<p>Depuis sa création en 2010, notre cabinet s’est spécialisé dans le conseil aux entreprises souhaitant intégrer le lean management comme approche incontournable dans leurs parcours de transformation vers l’Excellence Opérationnelle.</p>
<p>Notre travail s’est focalisé sur la résolution des problèmes, l’amélioration continue des performances opérationnelles, l’optimisation des ressources, le développement des personnes et l’innovation des technologies pour assurer aux entreprises une croissance rentable.

</p>
<p>Nous assistons les dirigeants et managers d’entreprises sur toutes les problématiques au cœur du management. En allant de la définition de la vision stratégique, à l’alignement de l’organisation jusqu’à la mise en œuvre opérationnelle des projets d’amélioration et de transformation.</p>
<p>Nous avons développé un savoir-faire confirmé et une expertise approfondie sur plusieurs secteurs d’activité tel que : l’automobile, agroalimentaire, High Tech, distribution, textile, services…etc. Notre réseau de relations s’est enrichi grâce à notre volonté de privilégier des partenariats solides et de long terme avec les clients, les organismes et les institutions de financement.

</p>
<p>La culture d’excellence qui anime nos collaborateurs, favorise le développement et la diffusion des meilleures pratiques en management auprès de nos clients/partenaires pour les aider à atteindre les meilleurs résultats de performance pérenne.</p>
<p>Notre culture entrepreneuriale favorise la créativité des consultants tout en privilégiant la recherche des solutions innovantes pour nos clients. Nous voulons aider nos clients tout en contribuant à protéger l’environnement et impacter positivement nos communautés.</p>
<p>Nos consultants ont assuré la réalisation de plusieurs missions d’accompagnement et projets pour le compte de clients en Tunisie, Algérie, France, Maroc, Cameroun…etc</p>
</div>
</div>
<div class=" container-fluid2 col-md-6" >
    <div class="row1">
  <img src="../../assets/images/leanPartners-logo.jpg" >
    </div>
    <div class="row2" >


<iframe width="500" height="300" src="https://www.youtube.com/embed/g67pJICPeHc" frameborder="0" allowfullscreen>

</iframe>

   </div>
</div>
</div>
</div>




<div class="container-fluid col-md-12" style="background-color: white;margin:4%;">
  <div class="row">
    <p style=" font:50px Marcellus ;font-weight: 400 ;color:rgb(144, 151, 57);">Le fondateur</p>
    <div class=" container-fluid2 col-md-4">
      <a href="https://tn.linkedin.com/in/khemais-haffar-7b84394a" target="_blank">
    <img src="../../assets/images/khmais.png" style="border-radius: 30px;" ></a>
    </div>
  <div class="col-md-4" >
        <div>
            <p style=" font:30px Marcellus ;font-weight: 400 ">Domaine d’expertise </p>
            <ul class="list-group" style="padding-left:4% ;">
                    <li> Stratégie de croissance</li>
                    <li >Excellence Opérationnelle</li>
                    <li >Lean management, lean manufacturing et lean six sigma </li>
                    <li >Organisation Agile</li>
                    <li >Développement de culture d’amélioration continue</li>
                    <li>Mise en place des systèmes de mangement</li>
                    <li >Optimisation des performances opérationnelles</li>
                    <li >Pilotage de projets de transformation et d’amélioration.</li>
                    <li >Coaching de dirigeants et managers d’entreprises</li>
                    <li >Conduite du changement</li>
            </ul>

        </div>
  </div>

  <div class="col-md-3" >
 <div>
        <p style=" font:30px Marcellus ;font-weight: 400 ">Education</p>
        <ul class="list-group" style="padding-left:4% ;">
                <li> Executive MBA : ESPRIT School of Business</li>
                <li >Maîtrise en productique : ENSIT</li>
                <li >Certified Six Sigma Master Black Belt </li>
                <li >IRCA ISO 9001 Lead Auditor</li>
                <li >IRCA ISO 14001 Lead Auditor</li>
                <li>Accredited Project Manager</li>
                <li >Expert Label RSE</li>
             
        </ul>
        <div style="padding-top: 5%;">
        <p style=" font:30px Marcellus ;font-weight: 400 ">Expérience</p>
        <ul class="list-group" style="padding-left:4% ;">
                <li>Plus de 19 ans dans l’accompagnement des entreprises</li>
                <li >Secteurs d’activité : automobile, agroalimentaire, high tech, services…etc</li>
                <li >En Tunisie et à l’international : France, Royaume Uni, Algérie, Maroc, Cameroun, Denmark…etc.</li>
              
        </ul>
        </div>
    </div>
</div>
 

  </div>
</div>



<section id="services"  style=" background: rgba(236, 226, 226, 0.53);padding-bottom: 4%;">
  <div class="container">
      <div class="row">
          <div class="col-12 intro text-center">
              <h2  style=" font:50px Marcellus ;font-weight: 400 ;color:rgb(144, 151, 57);padding-top: 2%;">SERVICES</h2>
              <hr class=" rounded">
          </div>
      </div>
      <div class="row justify-content-center g-4" >
          <div class="col-md-6 col-lg-6 col-sm-12">
              <div class="service " style="display:flex;">
                  <div class="icon-box " style="margin: 3%;background-color:rgba(145, 151, 57, 0.426);
                  padding: 2%; ;width: 28%;height: 100%; border-radius: 10px 100px / 120px;" >
                    <i class="fa fa-medal fa-4x" style="color: black; "></i>
                  </div>
                  <div style="margin: 3%;">
                      <h6 style="font-size: 20px;font-weight: 700px;">Client FIRST</h6>
                      <p>
                   
                        Notre réussite passe obligatoirement par la réussite de nos clients, pour cette raison nous mettons les intérêts de nos clients avant les notre.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12">
            <div class="service " style="display:flex;">
              <div class="icon-box " style="margin: 3%;background-color:rgba(145, 151, 57, 0.426);
              padding: 2%; ;width: 28%;height: 100%; border-radius: 10px 100px / 120px;" >
                    <i class="fa-regular fa-thumbs-up fa-4x" style="color: black;"></i></div>
                  <div style="margin: 3%;">
                      <h6  style="font-size: 20px;font-weight: 700px;">Excellence</h6>
                      <p>
                        Excellence
                        L'excellence est un état d'esprit qui englobe certains principes et outils pour créer une amélioration continue au sein de l'entreprise, nous visons toujours de dépasser les attentes de nos clients.</p>
                  </div>
              </div>
          </div>
      </div>
          <div class="row justify-content-center g-4">
          <div class="col-md-6 col-lg-6 col-sm-12">
            <div class="service " style="display:flex;">
              <div class="icon-box " style="margin: 3%;background-color:rgba(145, 151, 57, 0.426);
              padding: 2%; ;width: 28%;height: 100%; border-radius: 10px 100px / 120px;" >
                   <i class="fa-regular fa-thumbs-up fa-4x" style="color: black;"></i>
                 </div>
                   <div style="margin: 3%;">
                      <h6  style="font-size: 20px;font-weight: 700px;">Intégrité</h6>
                      <p>
                  
                        l’intégrité est le fondement de notre entreprise. Elle relie et englobe tout ce que nous faisons et témoigne de notre façon de travailler et d’établir la confiance.</p>
                        </div>
                  </div>
            
          </div>
         
          <div class="col-md-6 col-lg-6 col-sm-12">
            <div class="service " style="display:flex;">
              <div class="icon-box " style="margin: 3%;background-color:rgba(145, 151, 57, 0.426);
              padding: 2%; ;width: 28%;height: 100%; border-radius: 10px 100px / 120px;" >
                    <i class="fa fa-medal fa-4x" style="color: black;"></i></div>
                <div style="margin: 3%;">
                    <h6  style="font-size: 20px;font-weight: 700px;"> Travail en équipe</h6>
                    <p>
                     
                      Le travail en équipe donne plus d'occasions de mettre en pratique des idées créatives et offre un plus grand sentiment d'appartenance.</p>
                </div>
            </div>
        </div>
         
      </div>
  </div>
</section>





