
<div class="container-fluid Contact" style="padding:20px;background: rgba(236, 226, 226, 0.53); ">
	<div class="row" style="width: 70%;margin-left: 16%;">
		<div class="col-md-3">
			<div class="contact-info" style="padding-top: 90%; padding-left: 20%;">

				<i class="fa fa-plus fa-3x"  style="color: white;padding: 4%;" ></i> <i class="fa-solid fa-book fa-4x"  style="color: white;"></i>
                
				<h2 style="font:32px Marcellus ;font-weight: 800; padding-top: 15%;">Add course</h2>
			
			</div>
		</div>
		<div class="col-md-9">
			<div class="contact-form">
				<div class="form-group">
				  <label class="control-label col-sm-2" for="fname">Durée:</label>
				  <div class="col-sm-10">          
					<input type="text" class="form-control" id="fname" placeholder="" name="fname">
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="lname">Prix:</label>
				  <div class="col-sm-10">          
					<input type="text" class="form-control" id="lname" placeholder="" name="lname">
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="title">Title:</label>
				  <div class="col-sm-10">
					<input type="text"  class="form-control" id="title" placeholder="" name="title">
				  </div>
				</div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="description">Description:</label>
                    <div class="col-sm-10">
                      <input type="text"  class="form-control" id="description" placeholder="" name="description">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="Objectifs">Objectifs:</label>
                    <div class="col-sm-10">
                      <input type="text"  class="form-control" id="Objectifs" placeholder="" name="Objectifs">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="Public_cible">Public cible:</label>
                    <div class="col-sm-10">
                      <input type="text"  class="form-control" id="Public_cible" placeholder="" name="Public_cible">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="Programme">Programme:</label>
                    <div class="col-sm-10">
                      <input type="text"  class="form-control" id="Programme" placeholder="" name="Programme">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="Resultat">Resultat:</label>
                    <div class="col-sm-10">
                      <input type="text"  class="form-control" id="Resultat" placeholder="" name="Resultat">
                    </div>
                  </div>
                 
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="Resultat">Image:</label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control" id="customFile" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="Resultat" style="width: 100%;">Course recording:</label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control" id="customFile" />
                    </div>
                  </div>
                  
				<div class="form-group">        
				  <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-outline" style="background-color:rgba(157, 157, 109, 0.725) ; color: black; margin-top: 10px;">Add</button>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
 