<!--under header image-->
<div class="Section_top col-md-12">
    <div class="content" style="padding-bottom:1% ;padding-top: 1%;">
        <div class="container">
         <p style="font:90px Marcellus ;font-weight: 700;">Lean Partners</p>
         <p style="font:40px Montserrat; font-weight: 300;"> Plateforme de formation en Tunisie</p>  
         <p style="font:20px Montserrat sans-serif;font-weight: 1000;">Lean Training vous offre des formations pratiques pour développer vos compétences !</p>
        </div>
    </div>

</div>

<!--cours-->

<h1 class="section-title h1" style="text-align: center ;
 font:50px Marcellus ;font-weight: 400 ;color:rgb(144, 151, 57); margin: 4%;">Des Formations adaptées selon vos besoins</h1>

 <div class="container " style="margin:1% ; align-content: center;margin-left: 7%;"   >
      
  <div class="row clearfix">
          

    <div class="col-xs-12 col-sm-6 col-md-3 h-100">
        <div class="box-panel" >
            <div class="box-panel-body clearfix ">
                <div class="frontside ">
                   
                        <div class="card " >
                            <a href="http://localhost:4200/details">
                                 <img class="card-img-top" src="../../assets/images/TPM.jpg" ></a>
                        <div class="card-body" style="margin-top:10% ;">
                          <h2 class="card-title">TPM : Total Productive Maintenance</h2>
                          <p class="card-text "  >
                          TPM : Total Productive Maintenance, est une démarche d’amélioration des performances opérationnelles.
                           
                            </p>
                        <div class="card-footer"  >
                         <span class="label label-primary" style="background-color:rgb(237, 237, 171);border-radius: 30px;margin: 2%;">1 jour</span>
                         <span class="label label-primary" style="background-color:rgb(237, 237, 171);border-radius: 30px;margin: 2%;">Ref M01</span>
                        </div>
                      </div>
                      </div>
                </div>
            </div>
        </div>
    </div>


    

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="box-panel" >
                        <div class="box-panel-body clearfix">
                            <div class="frontside">
                                <div class="card" >
                                    <img class="card-img-top" src="../../assets/images/evaluation.jpg" >
                                    <div class="card-body">
                                      <h2 class="card-title " >Evaluation des Coûts de la non qualité</h2>
                                      <p class="card-text "  >
                                        L’évaluation des coûts de la non qualité est un des thèmes centraux du contrôle de gestion. 
                                      
                                        </p>
                                        <div class="card-footer"  >
                                        <span class="label label-primary" style="background-color:rgb(237, 237, 171);border-radius: 30px;margin: 2%;">1 jour</span>
                                        <span class="label label-primary" style="background-color:rgb(237, 237, 171);border-radius: 30px;margin: 2%;">Ref Q03</span>
                                        </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
                

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="box-panel" >
                        <div class="box-panel-body clearfix">
                            <div class="frontside">
                                <div class="card">
                                    <img class="card-img-top" src="../../assets/images/securite.jpg" >
                                    <div class="card-body">
                                      <h2 class="card-title" >Sécurité et sûreté</h2>
                                      <p class="card-text"  >
                                        Dans un environnement évolutif, la sécurité & la sûreté des personnes, des locaux et des biens est une préoccupation permanente.
                                       
                                        </p>
                                        <div class="card-footer"  >
                                        <span class="label label-primary" style="background-color:rgb(237, 237, 171);border-radius: 30px;margin: 2%;">3 jours</span>
                                        <span class="label label-primary" style="background-color:rgb(237, 237, 171);border-radius: 30px;margin: 2%;">Ref S02</span>
                                    </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="box-panel" >
                        <div class="box-panel-body clearfix">
                            <div class="frontside">
                                <div class="card" >
                                    <img class="card-img-top" src="../../assets/images/supply.jpg" >
                                    <div class="card-body">
                                      <h2 class="card-title" >Supply Chain Management</h2>
                                      <p class="card-text"  >
                                        Le Supply Chain management est au cœur de la performance globale des entreprises, son enjeu essentiel étant la satisfaction de ses clients tout en optimisant les coûts.
                                       
                                        </p>
                                        <div class="card-footer"  >
                                        <span class="label label-primary" style="background-color:rgb(237, 237, 171);border-radius: 30px;margin: 2%;">3 jours</span>
                                        <span class="label label-primary" style="background-color:rgb(237, 237, 171);border-radius: 30px;margin: 2%;">Ref F01</span>
                                        </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row clearfix  card-deck">
              

              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="box-panel" >
                    <div class="box-panel-body clearfix">
                        <div class="frontside">
                            <div class="card">
                                <img class="card-img-top" src="../../assets/images/BtoB.jpg" >
                                <div class="card-body ">
                                  <h2 class="card-title " >Communication B to B</h2>
                                  <p class="card-text"  >
                                    La communication B to B est adéquate au marketing B-to-B.
            
                                    Nous parlons d’un ensemble de techniques permettant aux entreprises de communiquer et partager des informations entre elles
                                    </p>
                                    <div class="card-footer"  >
                                    <span class="label label-primary" style="background-color:rgb(237, 237, 171);border-radius: 30px;margin: 2%;">3 jours</span>
                                    <span class="label label-primary" style="background-color:rgb(237, 237, 171);border-radius: 30px;margin: 2%;">Ref S02</span>
                                    </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
                
                <div class="col-xs-12 col-sm-6 col-md-3 h-100">
                    <div class="box-panel " >
                        <div class="box-panel-body clearfix ">
                            <div class="frontside ">
                                <div class="card " >
                                    <img class="card-img-top" src="../../assets/images/excel.jpg" >
                                    <div class="card-body ">
                                      <h2 class="card-title " >Excel Avancé</h2>
                                      <p class="card-text"  >
                                        Le logiciel Excel est un outil modifiable et évolutif qui vous permet d’afficher clairement vos données sous forme de tableurs et de graphiques. </p>
                                        <div class="card-footer"  >
                                        <span class="label label-primary" style="background-color:rgb(237, 237, 171);border-radius: 30px;margin: 2%;">1 jour</span>
                                        <span class="label label-primary" style="background-color:rgb(237, 237, 171);border-radius: 30px;margin: 2%;">Ref A03</span>
                                        </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
                
             
          
                <div class="col-xs-12 col-sm-6 col-md-3 h-100">
                    <div class="box-panel" >
                        <div class="box-panel-body clearfix ">
                            <div class="frontside ">
                               
                                    <div class="card " >
                                        <a href="http://localhost:4200/details">
                                             <img class="card-img-top" src="../../assets/images/TPM.jpg" ></a>
                                    <div class="card-body" style="margin-top:10% ;">
                                      <h2 class="card-title">TPM : Total Productive Maintenance</h2>
                                      <p class="card-text "  >
                                      TPM : Total Productive Maintenance, est une démarche d’amélioration des performances opérationnelles.
                                       
                                        </p>
                                    <div class="card-footer"  >
                                     <span class="label label-primary" style="background-color:rgb(237, 237, 171);border-radius: 30px;margin: 2%;">1 jour</span>
                                     <span class="label label-primary" style="background-color:rgb(237, 237, 171);border-radius: 30px;margin: 2%;">Ref M01</span>
                                    </div>
                                  </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            

          
                    <div class="col-xs-12 col-sm-6 col-md-3 h-100">
                    
                        <div class="box-panel " >
                            <div class="box-panel-body clearfix ">
                                <div class="frontside ">
                                    <div class="card " >
                                        <img class="card-img-top" src="../../assets/images/TPM.jpg" >
                                        <div class="card-body">
                                          <h2 class="card-title">TPM : Total Productive Maintenance</h2>
                                          <p class="card-text"  >
                                          TPM : Total Productive Maintenance, est une démarche d’amélioration des performances opérationnelles.
                                           
                                            </p>
                                            <div class="card-footer"  >
                                         <span class="label label-primary" style="background-color:rgb(237, 237, 171);border-radius: 30px;margin: 2%;">1 jour</span>
                                         <span class="label label-primary" style="background-color:rgb(237, 237, 171);border-radius: 30px;margin: 2%;">Ref M01</span>
                                        </div>
                                      </div>
                                </div>
                                </div>
                            </div>
                        </div>
        
                    </div>
  







            </div>

          </div>

<!--catégorie-->
          <h1 class="section-title h1" style="text-align: center ;
          font:50px Marcellus ;font-weight: 400 ;color:rgb(144, 151, 57); margin: 4%;">
          Nos catégories de formations</h1>



<section id="portfolio">
    <div class="container-fluid">
<div class="row g-2">
    <div class="col-lg-4 col-sm-6">
        <a href='http://localhost:4200/manufacturing'>
        <div class="project" >
          <img class="img" src="../../assets/images/f2.jfif" alt="">
                <div class="text-white text-center">
                    <h1>Manufacturing</h1>
                    <div class="divider"></div>
                    <p> the business of producing goods in large numbers,especially in factories: The service sector now employs more people than manufacturing.</p>
                </div>
            </div>
        </a>
        </div>

    <div class="project-info">
    </div>
    <div class="col-lg-4 col-sm-6" >
        <a href='http://localhost:4200/quality'>
             <div class="project" >
           <img class="img" src="../../assets/images/f3.jfif" alt="">
            <div class="project-info">
                <div class="text-white text-center">
                    <h1>Quality</h1>
                    <div class="divider"></div>
                    <p>the standard of something as measured against other things of a similar kind; the degree of excellence of something.</p>
                </div>
            </div>
        </div></a>
    </div>
    <div class="col-lg-4 col-sm-6">
        <a href='http://localhost:4200/environments'>
        <div class="project">
            <img class="img" src="../../assets/images/f4.jfif" alt="">
            <div class="project-info">
                <div class="text-white text-center">
                    <h1>Environment</h1>
                    <div class="divider"></div>
                    <p>The global authority for the environment with programmes focusing on climate, nature, pollution, sustainable development and more.</p>
                </div>
            </div>
        </div>
    </a>
    </div>
    <div class="col-lg-4 col-sm-6">
        <a href='http://localhost:4200/supply-chain'>
        <div class="project">
            <img class="img"  src="../../assets/images/f5.jfif" alt="">
            <div class="project-info">
                <div class="text-white text-center">
                    <h1>Supply Chain</h1>
                    <div class="divider"></div>
                    <p>A supply chain is the network of all the individuals, organizations, resources, activities and technology involved in the creation and sale of a product.</p>
                </div>
            </div>
        </div>
        </a>
    </div>
    <div class="col-lg-4 col-sm-6">
        <a href='http://localhost:4200/leadership'>
        <div class="project">
            <img class="img"  src="../../assets/images/f6.jfif" alt="">
            <div class="project-info">
                <div class="text-white text-center">
                    <h1>Leadership</h1>
                    <div class="divider"></div>
                    <p>Leadership is the ability of an individual or a group of individuals to influence and guide followers or other members of an organization.</p>
                </div>
            </div>
        </div>
        </a>
    </div>
    <div class="col-lg-4 col-sm-6">
        <a href='http://localhost:4200/innovation'>
        <div class="project">
            <img class="img"  src="../../assets/images/f7.jfif" alt="">
            <div class="project-info">
                <div class="text-white text-center">
                    <h1>Innovation</h1>
                    <div class="divider"></div>
                    <p>Innovation can refer to something new, such as an invention, or the practice of developing and introducing new things. </p>
                </div>
            </div>
        </div>
        </a>
    </div>
</div>
</div>
</section>
<!--quote-->

          <div class="quote col-md-12">
          <div style="padding-right: 45%;padding-top: 11%;">
            <p style="text-align:center;font:40px Marcellus ;"><i class="fa fa-quote-left" ></i></p>
            <p style="text-align: center ; font:40px Marcellus ;font-weight: 500;">
              Live as if you were to die tomorrow.
             </p>
             <p style="text-align: center ; font:40px Marcellus ;font-weight: 500;">
             <span style="color:rgb(235, 237, 105);"> Learn</span> as if you were to live forever.
             </p>
             <p style="text-align: center ;font:Montserrat,sans-serif;
              text-transform: uppercase;font-weight: 100;color: rgb(247, 247, 210);">-Mahatma Gandhi-</p>
          </div>
          
          </div>





<!--team cards-->
   <!--
        <div class="container">
            <div class="row text-center">
            -->
                <!-- Team item --
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class=" rounded shadow-sm py-5 px-4" style="background-color:rgba(83, 83, 82, 0.637);"><img src="https://bootstrapious.com/i/snippets/sn-team/teacher-4.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0" style="color:white;">Manuella Nevoresky</h5><span class="small text-uppercase  " style="color:white;">CEO - Founder</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f" style="color:white"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter" style="color:white;"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram" style="color:white;"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin-in"  style="color:white;"></i></a></li>
                        </ul>
                    </div> 
                </div>
                 -->
                <!-- End -->
            
                    <!-- Team item 
                    <div class="col-xl-3 col-sm-6 mb-5">
                      <div class=" rounded shadow-sm py-5 px-4" style="background-color:rgba(83, 83, 82, 0.637);"><img src="https://bootstrapious.com/i/snippets/sn-team/teacher-7.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                          <h5 class="mb-0" style="color:white;">John Tarly</h5><span class="small text-uppercase  " style="color:white;">CEO - Founder</span>
                          <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f" style="color:white"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter" style="color:white;"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram" style="color:white;"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin-in"  style="color:white;"></i></a></li>
                         </ul>
                      </div>
                  </div> --><!-- End -->

                      <!-- Team item 
                <div class="col-xl-3 col-sm-6 mb-5">
                  <div class=" rounded shadow-sm py-5 px-4" style="background-color:rgba(83, 83, 82, 0.637);"><img src="https://bootstrapious.com/i/snippets/sn-team/teacher-1.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                      <h5 class="mb-0" style="color:white;">Tom Sunderland</h5><span class="small text-uppercase  " style="color:white;">CEO - Founder</span>
                      <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f" style="color:white"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter" style="color:white;"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram" style="color:white;"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin-in"  style="color:white;"></i></a></li>
                    </ul>
                  </div>
              </div> --><!-- End -->
                      <!-- Team item
                      <div class="col-xl-3 col-sm-6 mb-5">
                        <div class=" rounded shadow-sm py-5 px-4" style="background-color:rgba(83, 83, 82, 0.637);"><img src="https://bootstrapious.com/i/snippets/sn-team/teacher-2.jpg"
                             alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="mb-0" style="color:white;">Samuel Hardy</h5><span class="small text-uppercase  " style="color:white;">CEO - Founder</span>
                            <ul class="social mb-0 list-inline mt-3">
                                <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f" style="color:white"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter" style="color:white;"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram" style="color:white;"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin-in"  style="color:white;"></i></a></li>
                       
                       
                       
                        </ul>
                        </div>
                    </div> --><!-- End -->
           
                <!-- 
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-team/teacher-2.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Samuel Hardy</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            
            </div>
        </div>
            
            -->
        

    <!-- MILESTONE -->


                <section class="container-fluid col-md-12 col-sm-6" style="margin-bottom: 5%; background-image: url(../../assets/images/bg1.jpg);"  >
                   
            
                        <div class="row" style="padding-left:18%;" >


                            <div class="col-md-3 counter" style=" padding-right: 40%;padding-left:0% ;margin: 5%;
                            background-color:rgba(94, 95, 84, 0.426);
                            width: 10%;height: 10%; border-radius: 10px 100px / 120px;padding-right: 5%;">
                               
                               <div style="text-align:center ;padding-left: 30%; ">
                                <div class="number"  style="font-weight: 70px ;
                                 font-size: 60px;text-shadow:3px 3px #e4e3d8 ; width: 50%;">
                                 50+
                                </div>
                                
                                <h6 class="" style="font-weight: 20px ;font:25px Montserrat; width: 30%; padding:2%;">
                                    Formateurs
                                </h6>
                              </div> 
                            </div>


                            <div class="col-md-3 counter" style=" padding-right: 40%;padding-left:0% ;margin: 5%;
                            background-color:rgba(94, 95, 84, 0.426);
                            width: 10%;height: 10%; border-radius: 10px 100px / 120px;padding-right: 5%;">
                               
                               <div style="text-align:center ;padding-left: 30%; ">
                                <div class="number"  style="font-weight: 70px ;
                                 font-size: 60px;text-shadow:3px 3px #e4e3d8 ; width: 50%;">
                                 10M
                                </div>
                                
                                <h6 class="" style="font-weight: 20px ;font:25px Montserrat; width: 30%; padding:2%;">
                                   Utilisateurs
                                </h6>
                              </div> 
                            </div>


                            
                            <div class="col-md-3 counter" style=" padding-right: 40%;padding-left:0% ;margin: 5%;
                            background-color:rgba(94, 95, 84, 0.426);
                            width: 10%;height: 10%; border-radius: 10px 100px / 120px;padding-right: 5%;">
                               
                               <div style="text-align:center ;padding-left: 30%; ">
                                <div class="number"  style="font-weight: 70px ;
                                 font-size: 60px;text-shadow:3px 3px #e4e3d8 ; width: 50%;">
                                 50+
                                </div>
                                
                                <h6 class="" style="font-weight: 20px ;font:25px Montserrat; width: 30%; padding:2%;">
                                    Formations
                                </h6>
                              </div> 
                            </div>


                            
                            <div class="col-md-3 counter" style=" padding-right: 40%;padding-left:0% ;margin: 5%;
                            background-color:rgba(94, 95, 84, 0.426);
                            width: 10%;height: 10%; border-radius: 10px 100px / 120px;padding-right: 5%;">
                               
                               <div style="text-align:center ;padding-left: 30%; ">
                                <div class="number"  style="font-weight: 70px ;
                                 font-size: 60px;text-shadow:3px 3px #e4e3d8 ; width: 50%;">
                                 10M
                                </div>
                                
                                <h6 class="" style="font-weight: 20px ;font:25px Montserrat; width: 30%; padding:2%;">
                                    Views
                                </h6>
                              </div> 
                            </div>


                        </div>
                  
                </section>
       

 