<div class="container-fluid col-md-12 " style="padding-left: 3%;padding-right:3%; background: rgba(236, 226, 226, 0.53);">
<div class="container-fluid" >
<div class="image " style="padding: 1%;">
    <img src="../../assets/images/TPM.jpg" >

</div>
<button type="button" class="btn btn-outline" style="background-color:rgba(157, 157, 109, 0.725) ; 
height: 20%; width:10%;margin:1%;
        color: black;font-weight: 600;"> <i class="fa fa-plus fa-2x" aria-hidden="true"></i>  <i class="fa-solid fa-cart-shopping fa-2x"></i> </button>

</div>
<div style="padding-left: 1%;">

<div class="duree" style="display:flex ;">
     <h3>Durée :</h3>
     <p> 1 jour</p>
</div>
<div class="prix" style="display:flex ;">
    <h3>Prix :</h3>
    <p>200 DT</p>
</div>
<div class="description">
    <h2>TPM : Total Productive Maintenance</h2>
    <p>TPM : Total Productive Maintenance, est une démarche d’amélioration des performances opérationnelles.<br>
        La TPM est une méthode  qui permet d’améliorer la disponibilité des équipements de production.<br>
        La TPM (Total Productive Maintenance) est applicable en milieu industriel pour palier aux aléas 
        et dysfonctionnements de l’outil productif.<br>
         C’est une opération d’optimisation de production afin
         de passer d’un système de maintenance curative à un système de maintenance préventive.<br>
        Notre valeur Ajoutée “TPM” :<br>
        Construire un culture d’entreprise qui améliore d’efficience du système de production.<br>
        Produire mieux et plus rapidement, sans investissement supplémentaire.</p>
</div>

<div class="objectifs">
    <h2>objectifs :</h2>
    <p>
        &#x25CF;Caractériser les principes et les techniques de la TPM<br>
        &#x25CF;Mettre en œuvre la méthodologie des phases de développement de la TPM<br>
        &#x25CF;Transférer des actions de maintenance aux utilisateurs<br>
        &#x25CF;Fiabiliser les équipements</p>
</div>

<div class="publicCible">
    <h2>Public Cible :</h2>
    <p>Ingénieurs et Techniciens de maintenance, Ingénieur industriel, Agent de production, R&D, 
        Responsables et techniciens méthodes, Directeur d’usine…
   </p>

</div>

<div class="Prog">
    <h2>Programme :</h2>
    <p>Introduction Les 12 étapes de la TPM Processus d’analyse des pertes:<br>
        Que signifie amélioration de l’efficacité de l’unité<br>
        Pertes et gaspillages<br>
        Le taux de rendement synthétique TRS<br>
        L’importance des mesure<br>
        Partie 1 : La TPM : Quels enjeux, quel objectif, quel résultat ? Qu’est-ce que la TPM et pourquoi ? Objectif de la TPM.
        Qu’obtient-on de la TPM ?<br>
        
        Partie 2 : La TPM : Quelle stratégie ? Quelle méthodologie ? <br>
        Des principes de développement déclinés en actions <br>
        Pilier 1 : Amélioration aux cas par cas. <br>
        Pilier 2 : Maintenance autonome.<br>
         Pilier 3 : Maintenance planifiée.<br>
          Pilier 4 : Amélioration du savoir-faire et connaissances. <br>
          Pilier 5 : Conception produits et équipements.<br>
           Pilier 6 : Maintenance et qualité. <br>
           Pilier 7 : TPM des services fonctionnels. <br>
           Pilier 8 : Sécurité, Conditions de travail et environnement.<br>
        Partie 3 : Développement et pérennisation de la TPM Mise en œuvre de la TPM  </p>

</div>

<div class="resultat">
    <h2>Resultat :</h2>
    <p>
        &#x25CF;Améliorer la productivité <br>

        &#x25CF;Augmenter la satisfaction des clients<br>
   
        &#x25CF;Motiver le personnel<br>
   
        &#x25CF;Réduire les coûts<br>
   
        &#x25CF;Réduire les délais
</p>
</div>


</div>
</div>